<div id="content" class="12u skel-cell-important">
    <section>
        <header>
            <h2>Контакты с администратором сайта</h2>
            <span class="byline">Пишите на адрес эл.почты</span>
        </header>

        <p><img src="http://img.fotografii.org/a3333333mail.gif" alt="Marley"></p>

    </section>
</div>
