<div id="content" class="12u skel-cell-important">
    <section>
        <header>
            <h2>JDeveloper</h2>
            <span class="byline">Ошибки при работе c JDeveloper</span>
        </header>


        <pre>
        <strong>Ошибки возникшие при инсталляции.</strong>

        Ошибка 1: "java.net.UnknownHostException:"

        Нужно в hosts, прописать:

        $ hostname
        workstation


        127.0.0.1   workstation   localhost

        -------

        Ошибка 2: "При старте крашилась java, что в комплекте с jdeveloper."


        $ vi ./home/${user_home}/Oracle/Middleware/jdeveloper/jdev/bin/jdev

        После блока main дописать строчку: unset GNOME_DESKTOP_SESSION_ID


        #-----------------------------------------------------------------------------
        #  main
        #-----------------------------------------------------------------------------

        **************

        unset GNOME_DESKTOP_SESSION_ID


        Подробнее на:
        http://lee3star.blogspot.ru/2013/11/jdeveloper-12c-crashes-at-startup.html

        </pre>

    </section>
</div>
