<div id="content" class="12u skel-cell-important">
    <section>
        <header>
            <h2>JDeveloper инсталляция в Ubuntu Linux</h2>
            <span class="byline">Ubuntu 14.04 64 bit</span>
        </header>

        <!--<p><a href="#" class="image full"><img src="images/pics02.jpg" alt=""></a></p>-->


        <br/>


        <h3>Инсталляция JDK:</h3>
        <p>Например как <a href="http://javadev.org/sitemap/">здесь</a></p>

        <br/>

        <h3>Скачать Jdeveloper для Linux</h3>

        <p>Чтобы скачать нужна учетка на сайте oracle. Рекомендую сразу зарегистрироваться, иначе не даст скачать.</p>

<br/>

Ссылка на дистрибутив:<br/>
http://www.oracle.com/technetwork/developer-tools/jdev/downloads/index.html

<br/><br/>

Выбираю<br/>
Oracle JDeveloper 12c и Linux 64 bit installer


<br/>


<h3>Инсталляция Jdeveloper 12c в Ubuntu 14 x64</h3>


<!--
Для инсталляции JDeveloper в <strong>Ubuntu Linux 12 x64</strong>, необходимо предварительно инсталлировать следующие компоненты:<br/>

# apt-get install -y ia32-libs

<br/>
<br/>

-->


$ chmod +x jdev_suite_121300_linux64.bin<br/>
$ ./jdev_suite_121300_linux64.bin


    <p><img src="http://jdeveloper.ru/img/install/01.png" alt=""></p>
    <p><img src="http://jdeveloper.ru/img/install/02.png" alt=""></p>
    <p><img src="http://jdeveloper.ru/img/install/03.png" alt=""></p>
    <p><img src="http://jdeveloper.ru/img/install/04.png" alt=""></p>
    <p><img src="http://jdeveloper.ru/img/install/05.png" alt=""></p>
    <p><img src="http://jdeveloper.ru/img/install/06.png" alt=""></p>
    <p><img src="http://jdeveloper.ru/img/install/07.png" alt=""></p>
    <p><img src="http://jdeveloper.ru/img/install/08.png" alt=""></p>
    <p><img src="http://jdeveloper.ru/img/install/09.png" alt=""></p>
    <p><img src="http://jdeveloper.ru/img/install/10.png" alt=""></p>



<h3>Запуск Jdeveloper 12c</h3>


Для запуска jdeveloper в Ubuntu, необходимо выполнить jdev. По умолчанию он располагается:<br/>

~/Oracle/Middleware/Oracle_Home/jdeveloper/jdev/bin/jdev

<br/>

Для запуска стартового окна приветствия (quickstart), выполните следующий файл:<br/>

~/Oracle/Middleware/utils/quickstart/quickstart.sh

<br/>

Можно также задать переменную <strong>JDEV_USER_DIR</strong>, где будут храниться пользовательские проекты по умолчанию:<br/>

<br/>

<h3>Переменные окружения JDeveloper</h3>

<pre>

$ vi ~/.bash_profile

Переменная определяет каталог для проектов

### JDeveloper #####################

    export JDEV_HOME=~/dev/oracle/jdeveloper/jdev/
    export JDEV_USER_HOME=~/dev/oracle/projects/

    export PATH=$PATH:$JDEV_HOME/bin

### JDeveloper #####################

$ source  ~/.bash_profile

</pre>

<br/>

<h3>JDeveloper контроль версий</h3>


Начиная с jdeveloper 12c - система контроля версий по умолчанию - GIT.<br/><br/>
Больше не нужно искать какие-то доп плагины.


<br/><br/>

<h3>Инсталляция Oracle DataBase:</h3>

<p>Например как <a href="http://oracle-dba.ru/database/installation/">здесь</a></p>


    </section>
</div>
