<div id="content" class="12u skel-cell-important">
    <section>
        <header>
            <h2>JDeveloper</h2>
            <span class="byline">Среда для разработки java приложений</span>
        </header>

        <!-- <p><a href="#" class="image full"><img src="images/pics02.jpg" alt=""></a></p> -->

        <h3>Тяжелая запутанная</h3>

        <p>Мне видится, что она будет полезна тем кто планирует разрабатывать приложения с использованием технологий Oracle, а конкретнее - Oracle ADF приложений.</p>
        <p>Для разработки обычных приложений, наверное, лучше всетаки использовать Eclipse, NetBeans или IDEA. Но это дело привычки.</p>

        <pre>

        ### Hardware requirements for your development machine

        The following are considered minimum hardware requirements for your development machine:

        * Minimum 4 GB Memory (RAM)
        * Fast CPUs (for example, Intel Core i5)
        * SSD Hard drive, HDD with minimum 7200 RPM, or Hybrid HDD

        </pre>

        <p>Я в одной компании работал на компьютере с 1 GB оперативной памяти.
        Несколько раз просил, чтобу увеличили. Ни в какую.
        При этом на компьютере работали также и антивирус + почта + PL/SQL Developer.
        Также мне необходим был локальный сервер Weblogic.
        Память компьютера постоянно заканчивалась и требовалось перезагружать компьютер.
        Вот так 4 раза его перезагрузить за день и час рабочего времени ушел.
        Деплой тоже выполнялся очень долго. Впрочем это они сами себе злобные буратины.
        А оперативную память мне всетаки добавили именно тогда когда нужно было срочно что-то делать. И стало у меня аж почти 2 GB. И о чудо! Моя производительность выросла аж на 1/3, если не больше.
        </p>

    </section>
</div>
