<div id="content" class="12u skel-cell-important">
    <section>
        <header>
            <h2>JDeveloper</h2>
            <span class="byline">Материалы для обучения работы с JDeveloper</span>
        </header>

        <!-- <p><a href="#" class="image full"><img src="images/pics02.jpg" alt=""></a></p> -->

        Вот здесь собраны самые лучшие примеры для изучения основ программирования на JAVA с использованием JDeveloper.

        <br/><br/>
        Смотри JDeveloper and ADF Tutorials
        <br/>
        http://www.oracle.com/technetwork/developer-tools/jdev/documentation/index.html

        <br/><br/>

        http://download.oracle.com/otn_hosted_doc/jdeveloper/12cdemos/JDevOverview12c/JDevOverview12c.html

        <br/><br/>

        http://www.youtube.com/watch?v=TajCHL7Hw5M

    </section>
</div>
