<div id="content" class="12u skel-cell-important">
    <section>
        <header>
            <h2>Тюнинг Jdeveloper</h2>
        </header>

        <!--<p><a href="#" class="image full"><img src="images/pics02.jpg" alt=""></a></p>-->


<br/>

<h3>tune JDeveloper</h3>

<pre>

    Is your JDeveloper 12c too slow, follow these 3 basic steps and increase perfomance of JDeveloper 12c (12.1.3)

</pre>




    <strong>Step 1: Configure JVM settings in jdev.conf</strong>

<pre>

    Path: $MV_HOME$/jdeveloper/jdev/bin/jdev.conf

    # optimize the JVM for strings / text editing
    AddVMOption -XX:+UseStringCache
    AddVMOption -XX:+OptimizeStringConcat
    AddVMOption -XX:+UseCompressedStrings

    # if on a 64-bit system, but using less than 32 GB RAM, this reduces object pointer memory size
    AddVMOption -XX:+UseCompressedOops

    # use an aggressive garbage collector (constant small collections)
    AddVMOption -XX:+AggressiveOpts

    # for multi-core machines, use multiple threads to create objects and reduce pause times
    AddVMOption -XX:+UseConcMarkSweepGC
    AddVMOption -DVFS_ENABLE=true
    AddVMOption -Dsun.java2d.ddoffscreen=false
    AddVMOption -XX:+UseParNewGC
    AddVMOption -XX:+CMSIncrementalMode
    AddVMOption -XX:+CMSIncrementalPacing
    AddVMOption -XX:CMSIncrementalDutyCycleMin=0
    AddVMOption -XX:CMSIncrementalDutyCycle=10

</pre>

    <strong>Step 2: Configure Jdeveloper memory settings in ide.conf</strong>


<pre>

    Path: $MV_HOME$/jdeveloper/ide/bin/ide.conf

    # Set the default memory options for the Java VM which apply to both 32 and 64-bit VM's.
    # These values can be overridden in the user .conf file, see the comment at the top of this file.
    AddVMOption -Xms2048M
    AddVMOption -Xmx4096M

</pre>

<strong>Step 3: Disable "Build After Save"</strong>

<br/>

<a href="https://blogs.oracle.com/ArdaEralp/entry/jdev_build_after_save" rel="nofollow">Follow this</a>



<br/><br/>

Original:
<br/>
https://blogs.oracle.com/ArdaEralp/entry/performance_tuning_jdeveloper_12c


    </section>
</div>
