<div id="content" class="12u skel-cell-important">
    <section>
        <header>
            <h2>JDeveloper </h2>
            <span class="byline">Деинсталляция JDeveloper в Windows</span>
        </header>


        <pre>
        <strong>Деинсталляция JDeveloper в Windows</strong>

        1) JDEV_HOME\oui\bin\

        deinstall.cmd


        2) Удалить JDEV_HOME

        3) Удалить ${MyUserName}\AppData\Roaming\JDeveloper\

        Може ное посмотреть вот здесь:
        https://docs.oracle.com/middleware/1212/jdev/OJDIG/deinstall.htm#OJDIG187

        </pre>

    </section>
</div>
