<div id="content" class="12u skel-cell-important">
    <section>
        <header>
            <h2>JDeveloper</h2>
            <span class="byline">Интегрированный Weblogic</span>
        </header>


        <h3>Integrated Weblogic domain</h3>
        <br/>


        Вообщем для программирования (чаще всего), лучше использовать встроенный weblogic сервер.
        Там и в консоли можно посмотреть что происходит и быстрее грузиться все должно.

        <br/>
        Вкладка с weblogic серверами.
        <br/>
        Window -> Application Servers

        <br/>
        После старта weblogic обычно доступен по следующему адресу:<br/>
        http://localhost:7101/


        <br/>
        <br/>
        <br/>

        <h3>Выделить Weblogic побольше оперативной памяти</h3>

        Захожу <br/>

        C:\Users\Username\AppData\Roaming\JDeveloper\system12.2.1.0.42.151011.0031\DefaultDomain\bin

        <br/><br/>
        Делаю резервную копию файла setStartupEnv.cmd

        <br/><br/>
        Заменяю в этом файле.

        <br/><br/>

        -Xms256m на -Xms2048m <br/>

        и <br/>

        -Xmx1024m на -Xmx4096m

<br/><br/>

        Weblogic будет работать максимум с 4096 MB памяти.

<br/><br/>

Разумеется, это делать следует, если есть такая необходимость.


<br/>
<br/>
<br/>

        <h3>Возникавшие у меня ошибки </h3>

        <br/>
        <br/>

        <strong>[JDeveloper]: Сообщение в консоли: "The Server Instance cannot be started because the Integrated Weblogic domain was not built successfully."</strong>
        <br/>
        <br/>
        View --> Application Server Navigator --> IntegratedWeblogicServer (domain constuction failed) --> recreate default domain

        <br/>
        <br/>

        Application Server Navigator --> IntegratedWeblogicServer --> Start Server Instance.

        <br/>
        <br/>
        <br/>
        Сообщение в консоли: "Running: IntegratedWeblogicServer - Log


        <xmp>

        <Aug 11, 2012 9:53:30 PM MSD> <Notice> <Server> <BEA-002613> <Channel "Default" is now listening on 127.0.0.1:7101 for protocols iiop, t3, ldap, snmp, http.>
        <Aug 11, 2012 9:53:30 PM MSD> <Notice> <Server> <BEA-002613> <Channel "DefaultSecure" is now listening on 127.0.0.1:7102 for protocols iiops, t3s, ldaps, https.>
        <Aug 11, 2012 9:53:30 PM MSD> <Notice> <WebLogicServer> <BEA-000331> <Started WebLogic Admin Server "DefaultServer" for domain "DefaultDomain" running in Development Mode>
        <Aug 11, 2012 9:53:31 PM MSD> <Notice> <WebLogicServer> <BEA-000365> <Server state changed to RUNNING>
        <Aug 11, 2012 9:53:31 PM MSD> <Notice> <WebLogicServer> <BEA-000360> <Server started in RUNNING mode>
        IntegratedWebLogicServer startup time: 132345 ms.
        IntegratedWebLogicServer started.

        </xmp>



        <strong>YourApplication (Right Click)--> Application Properties --> Run --> Application Server Properties --> Test --> Test Connection</strong>

        <pre>

        Testing JSR-160 Runtime                ... success
        Testing JSR-160 DomainRuntime          ... success
        Testing JSR-88                         ... success
        Testing JSR-88-LOCAL                   ... success
        Testing JNDI                           ... success
        Testing JSR-160 Edit                   ... success
        Testing HTTP                           ... success
        Testing Server MBeans Model            ... success
        Testing App Controller                 ... success

        9 of 9 tests successful.

        </pre>

        Подробности:<br/>
        hxxp://xmlandmore.blogspot.com/2011/04/integrated-weblogic-server-wls.html


    </section>
</div>
